<div class="container register">
    <div class="row">
      <div class="col-md-3 col-sm-4 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        <h3>Welcome</h3>
        <p>SevenAdvancedAcademy</p>
      </div>
  
      <div class="col-md-9 register-right">
  
        <div class="tab-content" id="myTabContent">
  
          <!-- for student registration *** by default this rendered because of the class active on the first div -->
  
          <div class="tab-pane fade show active align" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">Payment Successful</h3>

          </div>
        </div>
      </div>
  
    </div>
  </div>